@font-face {
  font-family: 'Lora';
  src: url(./assets/Lora-Regular.ttf) format('truetype');
}

body {
  margin: 0;
  font-family: 'Lora', serif;
  scroll-behavior: smooth;
  background-image: url('./assets/background.jpg');
  background-attachment: fixed;
  background-size: 100% 100%;
  color: white;
}

.parallax-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -1;
}

.parallax-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background-image: url('./assets/tree.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-color: transparent;
}

.button-scroll-to-top {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 100;

  font-size: 24px;
  color: white;
  background-color: rgba(77, 26, 0, 0.9);
  cursor: pointer;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
}

.button-scroll-to-top:hover {
  background-color: #555;
}

/* Navigation bar */
nav {
  height: 60px;
  display: flex;
  position: sticky;
  top: 0;
  background-color: rgba(77, 26, 0, 0.9);
  z-index: 1000;
}

.nav-title {
  display: flex;
  flex: 1;
  justify-content: flex-start;
  align-items: center;
  padding-left: 10px;
  font-size: 40px;
  cursor: pointer;
}

.nav-buttons {
  display: flex;
  justify-content: center;
}

.nav-links {
  display: flex;
  flex: 1;
  justify-content: flex-end;
  align-items: center;
  padding-right: 10px;
}

nav button {
  background: none;
  border: none;
  color: white;
  padding: 10px 20px;
  margin: 0 5px;
  cursor: pointer;
  font-family: 'Lora', serif;
  font-size: 16px;
  transition: background 0.3s, color 0.3s;
}

nav button:hover {
  background: rgba(255, 255, 255, 0.2);
}

nav button.active {
  color: #8ACC25;
  border-bottom: 2px solid #8ACC25;
}

nav a {
  color: inherit;
  padding: inherit;
  text-decoration: inherit; /* remove underline */
}

nav a:hover {
  text-decoration: underline;
}

nav .email {
   cursor: copy;
}

nav .email-address {
  display: inline-block;
}

nav .email:hover .email-address {
  text-decoration: underline;
}

/* Sections */
section {
  height: 100vh;
  display: flex;
  align-items: center;
  padding: 0 20px;
  box-sizing: border-box;
}

section:nth-child(even) {
  justify-content: flex-start;
  text-align: left;
}

section:nth-child(odd) {
  justify-content: flex-end;
  text-align: right;
}

section div { /* section text */
  max-width: 400px;
  background-color: rgba(77, 26, 0, 0.85);
  border-radius: 5px;
  margin: 10px;
  padding: 0 20px;
}

/* About page */
.about {
  background-color: rgba(77, 26, 0, 0.85);
  margin: 60px 300px;
  padding: 30px;
}

.about .title {
  font-weight: bold;
}

/* Footer */
.footer {
  display: flex;
  padding: 10px;
  background-color: rgba(77, 26, 0, 0.9);
}

.footer a {
  color: inherit;
  text-decoration: inherit; /* remove underline */
}

.footer a:hover {
  text-decoration: underline;
}

.mail {
  width: 60%;
  padding: 20px;
}

.mail-form * {
  margin: 5px 0;
}

.mail-button {
  margin: 0;
  padding: 4px 8px;
  cursor: pointer;
}

.mail-button:hover {
  background: rgba(255, 255, 255, 0.8);
}

.contact {
  width: 30%;
  margin-left: auto;
  padding: 20px;
}